* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
   
}

body {
    background-color: #f0f2f1;
}

.header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #344b49;
    color: #f2f5f7;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

a {
    color: whitesmoke;
}


.header nav {
    color: wheat;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

 ul li {
    display: inline-block;
    margin-left: 25px;
 }

.hero {
    padding: 50px;
    margin-bottom: 25px;
    background-image: url("../images/woodwall.jpg");
    background-size: cover;
    background-position: center;
}

.hero div  {
    float: right;
    color: cornsilk;
}

.hero h2 {
    text-align: right;
    background-color: brown;
 
}
.about {
    display: flex;
    text-align: right;
    margin-bottom: 100px;
    margin-left: 20px;

}

.about h2 {
    margin-right: 50px;
    font-size: 50px;
}
.about p{
    margin-left: 20px;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: left;
}

.about p span {
    display: flex;
    position: relative;
    margin-top: 40px;
}

.workhead {
    margin-right: 50px;
    font-size: 40px;
    margin-left: 20px;
    
    float: left;
}


.box1 {
    padding-left: 0%;
    padding: 25%;
    border: black solid;
    margin: 0%;
    width: 94%;
    height: 100%;
    display: inline-block;
    background-image: url("../images/coming-soon.jpg");
    background-size: cover;
    background-position: center;
}

.box1 div {
    background-color: #3cb0db;
    font-size: 230%;
    float: left;
    position: relative;
    right: 55%;
    bottom: 190px;
}

.box {
    padding: 10%;
    border: black solid;
    margin: 2%;
    width: 45%;
    height: 30%;
    display: inline-flex;
    position: relative;
    background-image: url("../images/coming-soon.jpg");
    background-size: cover;
    background-position: center;
}

.box div {
    background-color: #3cb0db;
    font-size: 150%;
    float: left;
    position: relative;
    right: 80px;
    bottom: 75px;

}

.boxen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}

