* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #344b49;
    color: #f2f5f7;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}

a {
    color: whitesmoke;
}


.header nav {
    color: wheat;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

 ul li {
    display: inline-block;
    margin-left: 25px;
 }
p {
    font-size: 16px;
}
.hero {
    padding: 50px;
    margin-bottom: 25px;
    background-image: url("../images/woodwall.jpg");
    background-size: cover;
    background-position: center;
}

.hero div  {
    float: right;
    color: cornsilk;
}

.hero h2 {
    text-align: right;
    background-color: brown;
 
}

aside {
    display: flex;
    float: left;
    font-size: 40px;
    padding-right: 40px;
   
}

.about {
   display: flex;
   margin: 50px;
}

.box1 {
    width: 60%;
    padding: 15%;
    border: black solid;
    margin: 2%;
}

.box {

    padding: 5%;
    border: black solid;
    margin: 1%;
    width: 30%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}
/*
body h2 {
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.About  {
    border: red;
    padding: 20px;
}

.box {
    border: solid;
    padding: 50px;
}

.box h3 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.jay {
    display: flex;
    flex-wrap: wrap;
}