* {
/* the universal notations of everything within the page to have. */
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
   
}

body {
/* the backbround for the page as a whole. */
    background-color: #f0f2f1;
}

.header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #344b49;
    color: #f2f5f7;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
    background-color: #3cb0db;
}

a {
    color: whitesmoke;
}


.header nav {
    color: wheat;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

 ul li {
    display: inline-block;
    margin-left: 25px;
 }
/* within the header, I have the nav which is the navigation bar. Got some of the styling here. */
.hero {
    padding: 40px;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/woodwall.jpg");
}

/* the hero contains an image as the background. which adds to the how the page looks. */
.hero div  {
    float: right;
    color: cornsilk;
}

.hero h2 {
    text-align: right;
    background-color:#3cb0db;
 
}
.about {
    display: flex;
    text-align: right;
    margin-bottom: 100px;
    margin-left: 20px;

}

.about h2 {
    margin-right: 50px;
    font-size: 50px;
    color:#3cb0db;
}
.about p{
    margin-left: 20px;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: left;
}

.about p span {
    display: flex;
    position: relative;
    margin-top: 40px;
}
/* the about section is styled similar to the workhead section so that they are able to flex in the same manner. */
.workhead {
    margin-right: 50px;
    font-size: 40px;
    margin-left: 20px;
    float: left;
    color:#3cb0db;
}


.box1 {
    border:#3cb0db solid 10px;
    margin:5px;
    flex-direction: column;
    width: 94%;
    background-image:url("../images/project-pic.jpg"); 
    background-size: cover;
    background-position: center;
    padding:20%;
    padding-left: 0;
}
/* box1 is the class I gave the bigger box so that I could style it differtly than the smaller boxes. 
I also added a picture by searching project on google. I planned on adding a picture of the page 
itself, but I didn't like how it looked so more appealing. */


.box {
    padding: 10%;
    padding-left: 0;
    border: #3cb0db solid 10px;
    margin: 2%;
    width: 45%;
    height: 30%;
    display: inline-flex;
    background-image: url("../images/coming-soon.jpg");
    background-size: cover;
    background-position: center;
}
/* box, to put it aside from the bigger one, these are the smaller boxes. And I gave them the same picture
of coming soon so that whoever sees them, they can infeer that for themselves. */

.box div {
    background-color: #3cb0db;
    font-size: 150%;
    float: left;
    position: relative;
    top:50px;

}

.boxen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


#box1word{
    position: relative;
    background-color:#3cb0db;
    float:left;
    top:200px;
    font-size: 30px;
    color:black;
}

.footer {
    display: flex;
    text-align: right;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-top: 100px;
}

.footer h2 {
    margin-right: 50px;
    font-size: 60px;
    color: #3cb0db
}

.footer h2 span{
    display:flex;
    text-align: right;
    position:relative;
    justify-content: right;

}

.footer ul {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
    font-size:35px;
    
}

.footer ul a{
    color:black;
}
/* lastly, the footer is the last portion. I did it outside the body so that any of the flex wouln't
mess with it. I also didn't add media queries because when I inspect my page, I am able to change what
device to view the page from. When I do that, the layout of the page doesnt change so I saw no need to
mess wit the media queries */